h1 {
    text-align: center;
  }
  
  .container {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction:column;
    align-items:center;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
    margin: 20px;
    font-size: 100%;
    text-align: center;
    width: 75%;
  }
  
  .header p{
    text-align:center;
    font-weight:bold;
    font-style:sans-serif;
    font-size:20px;
    transition: width 2s, height 2s, transform 2s;
  }
  
  p:hover{
    font-size: 25px;
  }
  
  .container1{
    display:flex;
    justify-content:center;
  }
  
  
  
  #aboutPic{
    width:590px;
    height:390px;
    align-content: center;
    box-shadow: 10px 4px 5px darkgrey ;
  /*   transition: width 2s, height 4s; */
    transition: width 2s, height 2s, transform 2s;
  }
  #aboutPic:hover{
    width:700px;
    height:425px;
    /* box-shadow: 10px 4px 5px grey; */
    transform: rotate(360deg);
  }
  
  footer{
    padding-top:10px;
    display:flex;
    justify-content:center;
  color:black;
    font-weight:bold;
    font-size:20px;
    
  }